<div class="outer-box">
  <!-- <h2>Create an Account</h2>
  <form>
    <div class="form-row">
      <div class="col-mx-auto mb-3">
        <label class="label" for="validationServer01">First Name:</label>
        <input type="text" class="form-control rounded-pill inputStyle" id="validationServer01" placeholder="Your First Name" required>

      </div>
      <div class="col-mx-auto mb-3 ">
        <label class="label" for="validationServer02">User Name:</label>
        <input type="text" class="form-control rounded-pill inputStyle" id="validationServer02" placeholder="User Name" required>
      </div>

      <div class="col-mx-auto mb-3 ">
        <label class="label" for="validationServer02">Password:</label>
        <input type="password" class="form-control rounded-pill inputStyle" id="validationServer02" placeholder="Password" required>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Sign Up!</button>
  </form> -->

  <div class="register-container">
    <h1>Register</h1>
    <form>
        <div class="input-container">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
        </div>
        <div class="input-container">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <button type="submit" routerLink="/home" class="btn btn-dark">Register</button>
    </form>
    <p class="login-link">Already have an account? <a [routerLink]="['/login']" >Login</a></p>
  </div>

  <div style="background-color: #0E1117;text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;">asdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd</div>
</div>



