/* body {
  margin: 0;
  padding: 0;
  background-color: #0E1117;
  font-family: Arial, sans-serif;
  color: #fff;
} */

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}

.student-card {
  width: calc(30% - 20px); /* Three cards horizontally with spacing */
  margin-right: 60px; /* Add right margin for spacing between cards */
  margin-bottom: 20px;
}

.student-card:last-child {
  margin-right: 0; /* Remove right margin for the last card in a row */
}
